#searchbar {
  margin-top: -10px;
}

#addSkillBtn {
  color: white;
  margin-left: -30px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -10px;
}

#searchBtn {
  color: white;
  padding-right: 65px;
  padding-left: 65px;
  padding-bottom: 10px; 
  padding-top: 10px;
  margin-top: -10px;
}

#skillcontainer {
  margin-top: 25px;
}

#headingSkill {
  color: white;
  font-size: 40px;
}

#resetBtn {
  color: white;
  margin-left: 665px;
  padding-right: 55px;
  padding-left: 55px;
}

#skill {
  float: left;
  list-style-type: none;
}

#removeBtn {
  
}

#placeholder {
  height: 50px;
}