<body>
  <div class="container">
      <input type="text" name="searchbar" placeholder="Skillbezeichung eingeben" [(ngModel)]="skill"/>
  </div>
  <div class="container">
      <button class="addSkillBtn btn btn-primary font-weight-bold btn-outline-success" (click)="addSkill()">Add Skill</button>
  </div>
  <div class="container">
      <button class="searchBtn btn btn-primary font-weight-bold btn-outline-success">Search</button>
  </div>
  <div class="container-fluid col-8" id="skillbox">
      <div *ngIf="skillService.skillList.length > 0">
        <h1 class="skilllist font-weight-bold">Skilllist</h1>
        <button class="resetBtn btn btn-primary font-weight-bold btn-outline-danger" (click)="resetSkills()">Reset</button>
      </div>
      <div *ngFor="let skill of skillService.skillList">
        <div>
          <ul>
            <div>
              <li><label class="btn btn-primary font-weight-bold">{{ skill }}</label></li>
              <button class="removeBtn btn btn-danger font-weight-bold" (click)="removeSkill(skill)">X</button>
            </div>
          </ul>
        </div>
      </div>
  </div>
  <div *ngIf="profiles.length > 0">
    <h1>Results</h1>
    <ul *ngFor="let profile of profiles">
      <li>{{ profile.name }}</li>
      <a routerLink="/details/:id">Details</a> 
    </ul>
  </div>
</body>

