<body>
  <div class="container">
    <div class="row">
      <div class="col-9">
          <input id="searchbar" class="form-control" type="text" placeholder="Skillbezeichung eingeben" [(ngModel)]="skill"/>
      </div>
      <div class="col-2">
          <button id="addSkillBtn" class="btn btn-primary font-weight-bold btn-outline-success" (click)="addSkill()">ADD</button>
      </div>
      <div class="col-1">
          <button id="searchBtn" class="btn btn-primary font-weight-bold btn-outline-info" (click)="search()">SEARCH</button>
      </div>
    </div>
  </div>
  <div id="skillcontainer" class="container" *ngIf="skillService.skillList.length > 0">
    <div class="row">
      <div class="col-4">
        <i><h1 id="headingSkill" class="font-weight-bold">Skills</h1></i>
      </div>
      <div class="col-8">
        <button id="resetBtn" class="btn btn-primary font-weight-bold btn-outline-danger" (click)="resetSkills()">RESET</button>
      </div>
      <div id="placeholder" class="container"></div>
      <div *ngFor="let skill of skillService.skillList">
        <div>
          <ul>
            <div>
              <li id="skill"><label class="btn btn-primary font-weight-bold border-secondary rounded-left">{{ skill }}</label></li>
              <button id="removeBtn" class="btn btn-danger font-weight-bold border rounded" (click)="removeSkill(skill)">x</button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="placeholder"></div>
  <div class="container">
    <div class="col-12" *ngIf="profiles.length > 0">
      <i><h1 id="resultsHeading" class="font-weight-bold">Results ({{ profiles.length }})</h1></i>
    </div>
  </div>
  <div id="placeholder"></div>
  <div id="resultBox" class="container" *ngIf="profiles.length > 0">
    <div class="row">
      <div class="col-1"></div>
      <table id="resultTable" class="col-10 table table-striped table-hover table-active">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
          </tr>
        </thead>
        <tbody *ngFor="let profil of profiles">
          <tr>
            <th>{{ profil.id }}</th>
            <th>{{ profil.name }}</th>
            <a id="detailsBtn" class="btn btn-primary" [routerLink]="['/details', profil.id]">Details</a>
            <div id="placeholderResult"></div>
          </tr>
        </tbody>
      </table>
      <div class="col-1"></div>
    </div>
  </div>
</body>
