#detailsHeading {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-left: -200px;
}

#detailbody {
    background-color: rgba(3, 109, 196, 0.705);
}

#detailTable {
    color: white;
}

#detailsPlaceholder {
    margin-top: 70px;
}

#headingprofile {
    color: rgb(255, 255, 255);
}

#paragraphProfil {
    color: rgb(255, 255, 255);
}

#homeBtn {
    margin-top: 60px;
    margin-left: -100px;
    width: 120px;
    height: 40px;
}