<header>
  <div style="padding-top:80px">
    <h1 class="headingMain">Semantic Search</h1>
  </div>
  <div style="height:100px">
  </div>
</header>
<body>
  <div>
      <input type="text" name="searchbar" placeholder="Skillbezeichung eingeben" [(ngModel)]="skill"/>
  </div>
  <div>
      <button class="addSkillBtn" (click)="addSkill()">Add Skill</button>
  </div>
  <div>
      <button class="searchBtn">Search</button>
  </div>
  <div *ngIf="skillService.skillList.length > 0">
    <h1 class="skilllist">Skilllist:</h1>
    <button class="resetBtn" (click)="resetSkills()">Reset</button>
  </div>
  <div *ngFor="let skill of skillService.skillList">
    <ul>
      <div>
        <li>{{ skill }}</li>
        <button class="removeBtn" (click)="removeSkill(skill)">X</button>
      </div>
    </ul>
  </div>
  <div *ngIf="profiles.length > 0">
    <h1>Results</h1>
    <ul *ngFor="let profile of profiles">
      <li>{{ profile.name }}</li>
      <a routerLink="/details/:id">Details</a>  <!–– routerLink needs to be implemented -->
    </ul>
  </div>
  <div style="height:1000px">
  </div>
</body>

