header {
    background-image: url('../assets/pictures/background_image.jpg');
    background-size: 100% auto;
  }
  
  .headingMain  {
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right: 0;
    color: white;
  }
  
  img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  .resize {
    width: 300px;
    height: auto;
  }
  
  input {
    width: 40%;
    height: 2em;
    margin-left: 330px;
    margin-right: 20px;
    display: block;
    float: left;
  }
  
  .addSkillBtn {
    width: 10%;
    height: 33px;
    color: black;
    float: left;
    margin-right: 20px;
    border-radius: 2px;
  }
  
  .searchBtn {
    width: 10%;
    height: 33px;
    color: black;
    border-radius: 2px;
  }
  
  li {
    float: left;
    list-style-type: none;
    margin-right: 20 px;
  }
  
  ul {
    margin-left: 420px;
    float: left;
  }
  
  .skilllist {
    margin-left: 395px;
  }
  
  .resetBtn {
    margin-left: 1172px;
    margin-top: 20px;
    width: 10%;
    height: 33px;
    color: black;
    float: left;
    border-radius: 4px;
  }
  
  .removeBtn {
    color: red;
    border-radius: 8px
  }