header {
  background-image: url('../../../../assets/pictures/background2.jpg');
  background-size: 100% auto;
}

#headingMain  {
  text-align: center;
  display: block;
  margin-left: 0;
  margin-right: 0;
  color: rgb(7, 31, 16);
}

#headingdiv {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 10px;
}


